<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= _.capitalize(siteTitle) %></title>
		<!-- bower:css -->
		<!-- endbower -->
		<link rel="stylesheet" href="styles/main.css"/>
	</head>
	<body>
		<article class="container slim">
			<header class="header">
				<nav>
					<ul class="nav nav-pills pull-right">
						<li class="active">
							<a href="#"> Home </a>
						</li>
					</ul>
				</nav>
				<h3 class="text-muted"><%= _.capitalize(siteTitle) %></h3>
			
			</header>
			<section class="page">
			</section>
			<footer class="footer">
					<span class="sitecopy pull-left">2014 Copyrite</span>
  				<span class="version pull-right">0.0.1</span>
			</footer>

		</article>
		<!-- bower:js -->
		<!-- endbower -->

		<!-- Config Script -->
		<script type="text/javascript" src="scripts/config.js"></script>

		<!-- Main Script -->
		<script type="text/javascript" src="scripts/main.js"></script>
	</body>
</html>